h1, h2, h3, h4, h5, h6 {font-family: 'Josefin Sans', Gadget, sans-serif !important; padding-bottom: 0.5em;}
.vert h2 {margin-top:10% !important;}
.center {text-align:center;}
.vert_center {vertical-align: middle;}
.biglink {font-size: 1.5em; font-weight:bold}
.tryit {color:black; background-color: #f1f1f1; padding: 10px;}
iframe{width:100% !important;}
code{color:black; background:var(--quarto-hl-fu-color);}
.stlth_hd{display:none;} /* Hide the header, but show in contents */
caption{font-size: 0.8em; color: white; caption-side: bottom; width:50%}
p.caption{text-align: center; font-size: 12px;}
p{margin: 0 0 3em 0;}
section{display:flex; align-items: center; justify-content: left; flex-direction: column; text-align: left; padding: 2em 0;}
